extends layout

block content
  div(id='app')
    el-menu(mode='horizontal')
      el-menu-item(index='0') {{title}}
      el-menu-item(index='1') 个人中心
  script.
    new Vue({
      el: '#app',
      data () {
        return {
          title: '#{title}'
        }
      },
      create () {},
      methods: {}
    })
