extends layout

block content
    div(id='app')
        el-form
            el-form-item(label='账号')
                el-input(v-model='userName' type='text' placeholder='手机号码/邮箱地址')
            el-form-item(label='密码')
                el-input(v-model='password' type='password' placeholder='登录密码')
            el-form-item
                el-button(type='primary' @click='login') 提交
    script.
      new Vue({
        el: '#app',
        data () {
          return {
            userName: '',
            password: ''
          }
        },
        create () {},
        methods: {
          login () {
            const _this = this
            $http.post('/api/user/login', {
              userName: this.userName,
              password: this.password
            }).then(function (res) {
              const resData = res.data
              if(resData.code === 200){
                location.href = '/'
              } else {
                _this.$message(resData.msg)
              }
              console.log(res.data)
            })
          }
        }
      })
